# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.env

# Environment variables
.env
*.env.*

# Django specific
db.sqlite3
/staticfiles/
/media/
/*.log

# Ignore all migrations except the init file
*/migrations/*
!*/migrations/__init__.py

# VSCode
.vscode/

# Byte-compiled and optimized Python files
*.py[cod]
*$py.class

# Coverage reports
htmlcov/
.coverage
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Virtual environment
venv/
env/

# IDEs
.idea/
*.iml

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Node Modules (if applicable)
node_modules/
